nav {
    background-color: dimgray;
    height: 5vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav a {
    text-decoration: none;
    font-size: large;
    margin-left: 16px;
    color: #FFFFFF;

}